<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Monkey</string>
	<string>Cow</string>
	<string>Horse</string>
	<string>Penguin</string>
	<string>Turtle</string>
	<string>Shark</string>
	<string>Dude</string>
	<string>Lion</string>
	<string>safdfh,jk</string>
	<string>h348th]q3</string>
	<string>more animals</string>
	<string>worms</string>
	<string>bugs</string>
</array>
</plist>
